section{
    padding: 12rem 0;
    overflow-x: hidden;
}

.section__header{
    text-align: center;
}

.section__header h4{
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}



/* ====================== Hero ====================== */

.hero{
    min-height: 100vh;
    background: linear-gradient(var(--color-gray-0),var(--color-gray-100));
}

body .dark .hero{
    background: linear-gradient(var(--color*gray-200),var(--color-gray-0));
}

.hero__container{
    text-align: center;
}

.hero__content{
    width:50%;
    margin-inline: auto
}

.hero__cont4ent p{
    margin-top: 0.5rem;
}

.hero__cta{
    margin-top: 4rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.hero__images{
    width: fit-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
    justify-content: space-between;
    margin-top: 5rem;
}

.hero__image{
    width: 14rem;
    height: 25rem;
    border-radius: 7rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 0 var(--color-gray-200);
}

.hero__image:hover{
    box-shadow: none;
}

.hero__image:nth-child(1),
.hero__image:nth-child(5){
    transform: translateY(-8rem);
}

.hero__image:nth-child(3){
    transform: translateY(8rem);
}


/* ====================== About ====================== */

.about{
    background: var(--color-gray-50);
}

.about__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.about__left{
    border-radius: 7rem;
    overflow: hidden;
    box-shadow: 0 2rem 0 var(--color-gray-100); transition: var(--transition);
}

.about__left:hover{
    box-shadow: none;
}

.about .section__header{
    text-align: left;
}


.about__container h1{
    margin-bottom: 1rem;
}

.about__right{
margin-bottom: 1rem;
}

.about__container a{
    margin-top: 2rem;
}


/* ====================== Our Programs ====================== */

.ourPrograms{
    background: var(--color-gray-0);
}

.ourPrograms__list{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
    gap: 4rem;
}

.ourPrograms__item{
    background: var(--color-gray-50);
    height: 28rem;
    border-radius: var(--radius-6);
    overflow: hidden;
    box-shadow: 0 1rem 0 var(--color-gray-200);
    transition: var(--transition);
}

.ourPrograms__item:hover{
    box-shadow: none;
}

.ourPrograms__item-image{
    height: 20rem;
    border-radius: 3rem;
    box-shadow:  0 1rem 0 var(--color-gray-0);
    overflow: hidden;
}

.ourPrograms__item-content{
    padding: 2.5rem 2rem;
}

.ourPrograms__item-content a{
    display: inline-block;
    color: var(--color-primary);
    margin-top: 1rem;
    font-size: 0.85rem;

}

.ourPrograms__item:hover a{
    background: var(--color-gray-0);
    padding: 0.3rem 1.5rem;
    border-radius: var(--radius-1);
}

.ourPrograms__item a:hover{
    background: var(--color-gray-900);
    color: var(--color-gray-0);
}
